/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

 @import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css);

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0096bc;
  --ifm-color-primary-dark: #0087a9;
  --ifm-color-primary-darker: #007fa0;
  --ifm-color-primary-darkest: #006984;
  --ifm-color-primary-light: #00a5cf;
  --ifm-color-primary-lighter: #00acd8;
  --ifm-color-primary-lightest: #00c3f4;
  --ifm-code-font-size: 95%;
  --ifm-font-family-monospace: 'Fira Code', monospace;
}

@supports (font-variation-settings: normal) {
  :root {
    --ifm-font-family-monospace: 'Fira Code VF', monospace;
  }
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
